<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-brand">
          <span class="brand-info">INFORMAÇÃO</span>
          <span class="brand-truth">VERDADE</span>
          <span class="brand-de">DE</span>
        </div>
        <p class="footer-description">
          Um blog dedicado a fornecer conteúdo relevante e informações verdadeiras sobre os mais diversos temas.
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="footer-heading">Links Rápidos</h5>
        <ul class="footer-links">
          <li><a routerLink="/">Início</a></li>
          <li><a routerLink="/categorias">Categorias</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
          <li><a routerLink="/contato">Contato</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="footer-heading">Categorias Populares</h5>
        <ul class="footer-links">
          <li><a routerLink="/categorias/tecnologia">Tecnologia</a></li>
          <li><a routerLink="/categorias/ciencia">Ciência</a></li>
          <li><a routerLink="/categorias/saude">Saúde</a></li>
          <li><a routerLink="/categorias/cultura">Cultura</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-6">
          <p class="copyright">&copy; {{ currentYear }} Informação de Verdade. Todos os direitos reservados.</p>
        </div>
        <div class="col-md-6">
          <ul class="social-links">
            <li><a href="#" aria-label="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" aria-label="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" aria-label="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" aria-label="YouTube"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer> 